<form [formGroup] = "filtros" class="filtrosForm">
    <!--<h2 class="tituloFiltros">Filtros</h2>-->
    <div class="listaDefiltros">
        <div>
            <!--<div class="conjuntoFiltros">
                <mat-checkbox formControlName="dividirPorGenero">Dividir por genero</mat-checkbox>
            </div>
            <div class="conjuntoFiltros">
                <mat-form-field appearance="fill">
                    <mat-label>Ocultar columna...</mat-label>
                    <mat-select formControlName="columnasOcultas" multiple>
                        <mat-option value="folio">Folio</mat-option>
                        <mat-option value="nombre">Nombre</mat-option>
                        <mat-option value="apellidoPa">Apellido Paterno</mat-option>
                        <mat-option value="apellidoMa">Apellido Materno</mat-option>
                        <mat-option value="edad">Edad</mat-option>
                        <mat-option value="genero">Genero</mat-option>
                        <mat-option value="email">Email</mat-option>
                        <mat-option value="telefono">Telefono</mat-option>
                        <mat-option value="ciudad">Ciudad</mat-option>
                        <mat-option value="cargo">Cargo</mat-option>
                        <mat-option value="areaInteres">Area de Interes</mat-option>
                        <mat-option value="fecha">Fecha</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>-->
            <div class="conjuntoFiltros">
                <h2 class="tituloFiltros">Consultas preestablecidas</h2>
                <button mat-raised-button color="secondary" class="botones" >Consulta a</button>
                <button mat-raised-button color="secondary" class="botones" >Consulta b</button>
            </div>
        </div>
    </div>
    <div>
        <button mat-raised-button color="primary" class="botones" (click)="applyFilters()">Aplicar</button>
        <!--<button mat-raised-button color="warn" class="botones" (click)="restart()">Reiniciar</button>-->
    </div>
</form>