.botones{
    margin: 10px;
}

.tituloFiltros{
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
}

.listaDefiltros{
    width: 100%;
    display: inline-block;
}

.conjuntoFiltros{
    margin: 10px;
}