<form [formGroup]="filtroFecha">
    <mat-form-field appearance="fill">
        <mat-label>Cantidad de participantes</mat-label>
        <input matInput formControlName="cantidadDeParticipantes">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Selecciona una fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha">
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="buscarFecha()" >Aplicar</button>
</form>
<table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 tabla-completa" #tablaCompleta> 
    
    <!-- Columna Nombre -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>
            Nombre
        </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
    
    <!-- Columna Apellido Paterno -->
    <ng-container matColumnDef="apellidoPa">
        <th mat-header-cell *matHeaderCellDef >
            Apellido Paterno
        </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidoPa}} </td>
    </ng-container>
    
    <!-- Columna Apellido Materno -->
    <ng-container matColumnDef="apellidoMa">
        <th mat-header-cell *matHeaderCellDef>
            Apellido Materno
        </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidoMa}} </td>
    </ng-container>

    <!-- Columna Fecha de registro -->
    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>
            Fecha de registro
        </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Selecciona una pagina de registros"> </mat-paginator>