<!--<div class="tablas">
    <h1 class="tituloTabla">Tabla de Areas de Interes</h1>
    <table  mat-table [dataSource]="dataSourceAreas" class="mat-elevation-z8 tabla-media" #tablaAreas>

    <!-- Columna Id Area
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef  sortActionDescription="Ordenar por id">
            ID
        </th>
        <td mat-cell *matCellDef="let element"> {{element.idArea}} </td>
    </ng-container>

    <!-- Columna Nombre Area
    <ng-container matColumnDef="apellidoPa">
        <th mat-header-cell *matHeaderCellDef  sortActionDescription="Ordenar por nombre">
            Nombre del Area
        </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreArea}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumnsArea()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumnsArea();"></tr>
    </table>



    <h1  class="tituloTabla">Tabla de Cargos</h1>
    <table  mat-table [dataSource]="dataSourceAreas" class="mat-elevation-z8 tabla-media" #tablaCargos>

    <!-- Columna Id Cargo
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef  sortActionDescription="Ordenar por id">
            ID
        </th>
        <td mat-cell *matCellDef="let element"> {{element.idCargo}} </td>
    </ng-container>

    <!-- Columna Nombre Cargo 
    <ng-container matColumnDef="apellidoPa">
        <th mat-header-cell *matHeaderCellDef  sortActionDescription="Ordenar por nombre">
            Nombre del Cargo
        </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCargo}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumnsCargo()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumnsCargo();"></tr>
    </table>



    <h1  class="tituloTabla">Tabla de Ciudades</h1>
    <table  mat-table [dataSource]="dataSourceCiudades" class="mat-elevation-z8 tabla-media" #tablaCiudades>

    <!-- Columna Id Ciudad 
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef  sortActionDescription="Ordenar por id">
            ID
        </th>
        <td mat-cell *matCellDef="let element"> {{element.idCiudad}} </td>
    </ng-container>

    <!-- Columna Nombre Cargo 
    <ng-container matColumnDef="apellidoPa">
        <th mat-header-cell *matHeaderCellDef  sortActionDescription="Ordenar por nombre">
            Nombre de la Ciudad
        </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCiudad}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumnsCiudades()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumnsCiudades();"></tr>
    </table>
</div>
-->